<div nz-row>
  <div nz-col nzMd="0" nzLg="1" nzXl="2" nzXXl="3"></div>
  <div nz-col nzMd="24" nzLg="22" nzXl="20" nzXXl="18">
    <div class="workbench">
      <div class="section basic-info">
        <img src="assets/images/workbench/basic_bg.png" alt="bg" class="bg" />
        <div class="text">
          <p>{{ basicInfo.welcomeText1 }}</p>
          <h2>{{ basicInfo.welcomeText2 }}</h2>
        </div>
        <div class="info">
          <ul>
            <li>
              <span class="icon">
                <img
                  src="assets/images/workbench/notice_icon.png"
                  alt="notice"
                />
                <i></i>
              </span>
              <span class="name">我的消息</span>
              <img
                src="assets/images/workbench/arrow.png"
                alt="arrow"
                class="arrow"
              />
            </li>
            <li>
              <span class="icon">
                <img src="assets/images/workbench/todo_icon.png" alt="todo" />
                <i></i>
              </span>
              <span class="name">我的待办</span>
              <img
                src="assets/images/workbench/arrow.png"
                alt="arrow"
                class="arrow"
              />
            </li>
          </ul>
        </div>
      </div>

      <div class="section my-list">
        <div class="header">
          <h2>
            <span>我的工作台</span>
            <i></i>
          </h2>
          <!-- <a routerLink="/pages" class="more">全部应用>></a> -->
        </div>
        <div class="list" nz-row nzGutter="20">
          <div
            class="item-wrapper"
            nz-col
            nzSpan="8"
            *ngFor="let item of myList"
          >
            <a class="item">
              <span class="icon">
                <img *ngIf="item.icon" [src]="item.icon" alt="icon" />
                <img
                  *ngIf="!item.icon"
                  src="assets/images/app_icon_default.png"
                  alt="icon"
                />
              </span>
              <div class="info">
                <p class="name">{{ item.name }}</p>
                <p class="subTitle">{{ item.subTitle }}</p>
                <p class="host">
                  <span>{{ item.host }}</span>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzMd="0" nzLg="1" nzXl="2" nzXXl="3"></div>
</div>
